<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persen.beijing.springmybatis.dao.BilActAddUpMapper">
    <insert id="insert" parameterType="BilActAddUp">
        insert into
        bil_act_add_up_${partition_no} (user_id, acct_month, acct_item_code,
        unit_type_id,
        fee, update_time, insert_timestamp, partition_no) values
        (#{user_id, jdbcType=VARCHAR},
        #{acct_month, jdbcType=NUMERIC},
        #{acct_item_code, jdbcType=NUMERIC}, #{unit_type_id,
		jdbcType=NUMERIC}, #{fee, jdbcType=NUMERIC},
        #{update_time,
        jdbcType=DATE}, #{insert_timestamp, jdbcType=VARCHAR}, #{partition_no,
		jdbcType=VARCHAR})
    </insert>
</mapper>