<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.persen.beijing.mybatis.dao.InfoPayBalanceMapper">
    <select id="countAll" resultType="int">
        select count(*) c from
        info_pay_balance
    </select>
    <select id="getById"
            resultType="com.persen.beijing.mybatis.po.InfoPayBalance"
            parameterType="long">
        select * from info_pay_balance where balance_id =
        #{balance_id}
    </select>

    <insert id="insert" parameterType="InfoPayBalance">
        insert into info_pay_balance
        (balance_id, pay_id, balance_type_id, balance, real_balance,
        used_balance, latn_id, eff_date, exp_date, local_net)
        values
        (#{balance_id}, #{pay_id}, #{balance_type_id}, #{balance},
        #{real_balance}, #{used_balance}, #{latn_id}, #{eff_date},
        #{exp_date}, #{local_net})
    </insert>
    <update id="update" parameterType="InfoPayBalance">
        update info_pay_balance set
        balance = #{balance} where balance_id = #{balance_id}
    </update>
</mapper>